log_format openvpn_proxy '$time_iso8601 $remote_addr '
                         '$protocol $status $bytes_sent $bytes_received '
                         '$session_time $upstream_addr '
                         '"$upstream_bytes_sent" "$upstream_bytes_received" '
                         '"$upstream_connect_time"';

upstream openvpn_backend {
  server {{ nginx_proxy_upstream_host }}:{{ nginx_proxy_upstream_port }};
}

server {
  listen {{ nginx_proxy_listen_port }} udp reuseport;
  proxy_timeout {{ nginx_proxy_timeout }};
  proxy_pass openvpn_backend;

  access_log /var/log/nginx/openvpn-access.log openvpn_proxy;
}
