server {
  listen 80;
  listen [::]:80;
  server_name {{ secure_proxy_domain }};

  location ^~ /.well-known/acme-challenge/ {
    root {{ secure_proxy_acme_webroot }};
    default_type text/plain;
  }

  location / {
    return 404;
  }
}
