[Unit]
Description=Hans IPv4 over ICMP tunnel ({{ hans_tunnel_mode }})
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/hans-tunnel.env
{% if hans_tunnel_mode == 'server' %}
ExecStart={{ hans_tunnel_binary }} -f -r -s {{ hans_tunnel_network }} -d {{ hans_tunnel_device }} -m {{ hans_tunnel_mtu }} -p ${HANS_TUNNEL_PASSWORD}
{% else %}
ExecStart={{ hans_tunnel_binary }} -f -c {{ hans_tunnel_server_address }} -a {{ hans_tunnel_client_ip }} -d {{ hans_tunnel_device }} -m {{ hans_tunnel_mtu }} -w {{ hans_tunnel_client_polls }} -p ${HANS_TUNNEL_PASSWORD}
{% endif %}
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
