apiVersion: 1

providers:
  - name: VPN infrastructure
    orgId: 1
    folder: VPN
    type: file
    disableDeletion: true
    updateIntervalSeconds: 30
    allowUiUpdates: false
    options:
      path: /var/lib/grafana/dashboards
