name: Execute ansible
on: [push]
jobs:
  Ansible:
    environment: "GE"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Setup SSH
        run: |
          eval $(ssh-agent)
          mkdir -p ~/.ssh
          echo -e "${{secrets.SSH_KEY}}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
      - name: Run ansible
        run: ansible-playbook install_openvpn.yml -i inventory
